<div class="row">
	<div class="col col-md-3">
	<h3>Zaloguj się</h3>
		<%= form_for(:session, url: login_path) do |f| %>
		  <%= f.text_field :login, :placeholder => "Login", :autofocus => true %><br/>
		  <%= f.password_field :password, :placeholder => "Password" %></br>
		  <%= f.submit "Zaloguj", class: "btn btn-default" %>
		<% end %>
</div>
