
<h2>O nas</h2>
<div class="panel panel-info">
	<div class="panel-heading">
		Projekt realizują 
	</div>
	<div class="panel-body">
		Jan Pantuła (koordynator) i Małgorzata Zbierska - magistranci na kierunku Ochrona Dóbr Kultury sp. Konserwatorstwo, na Uniwersytecie Mikołaja Kopernika w Toruniu. Zainteresowania: architektura drewniana, problemy tożsamościowe a zabytki, ochrona zabytków, sztuka, architektura gospodarcza, folwarczna.
    	<br/><br/>
        Kamil Przybylski (administrator) - student informatyki na Uniwersytecie Jagiellońskim. Zainteresowania: nowe technologie, morsowanie.
        
	</div>
</div>
 <div class="panel panel-info">
	<div class="panel-heading">
		Kontakt
	</div>
	<div class="panel-body">
		<table class="table">
            <tr>
    		  <td><i>Jan Pantuła</i><td>
              <td>666 261 636</td>
              <td><%= mail_to "janpan6@gmail.com" %></td>
            </tr>
            <tr>
              <td><i>Małgorzata Zbierska</i><td>
              <td>669 949 676</td>
              <td><%= mail_to "ma.zbierska@gmail.com" %></td>
            </tr>
            <tr>
              <td><i>Kamil przybylski</i><td>
              <td>733 569 873</td>
              <td><%= mail_to "kamil.przybylski@student.uj.edu.pl" %></td>
            </tr>
		</table>
	</div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        Wesprzyj nas
    </div>
    <div class="panel-body">
        Projekt jest rozłożony na długi okres czasu. Póki co, gromadzimy materiał zdjęciowy, literaturę, oraz rozprawiamy na tematy konserwatorskie dotyczące go. Na razie mamy rozpoznanych początkowo około 70 obiektów. Wszystko to musi być edytowane, co zajmuje wiele czasu. W kolejnych etapach chcemy dokonać rozpoznania archiwalnego, określić daty powstania, znaleźć projekty, jest to długa i żmuda praca. Ale naszym ostatecznym celem jest wydanie albumu ze zdjęciami wyjątkach okazów stolarki, wraz z pokaźną ilością tekstu opowiadającą o projekcie oraz przede wszystkim o samej stolarce i problemach konserwatorskich. Niestety musimy się przyznać, że nie posiadamy też odpowiedniego sprzętu… 
        <br/><br/>
        Dlatego też prosimy o wsparcie w każdym wymiarze! W związku z tym zapraszam do kontaktowania się z którymś z członków projektu. Podajemy też numer konta bankowego w wypadku wsparcia pieniężnego: <b>21 1140 2004 0000 3702 7197 2607</b> Jan Pantuła, mBank. </br>Zapraszamy do współpracy.
    </div>
</div>
