
  <h1>Drzwi Przemyśla</h1>
  <h4>
  	<div class="well well-lg">
	    Osoby tworzące ten projekt to Małgorzata Zbierska i Jan Pantuła, studenci Konserwatorstwa z Wydziału Sztuk Pięknych, Uniwersytetu Mikołaja Kopernika w Toruniu oraz Kamil Przybylski studiujący Informatykę na Uniwersytecie Jagiellońskim w Krakowie.
    </div>

    <div class="panel panel-info">
    	<div class="panel-heading">
    		Na czym polega projekt?
    	</div>
    	<div class="panel-body">
    		<p>
	    		Idea projektu narodziła się, gdy zauważyliśmy, że w wielu kamienicach prowadzone są prace konserwatorskie. Można pomyśleć, że to bardzo dobrze! Ale cóż, poczęły znikać także autentyczne, zabytkowe drzwi, a przede wszystkim okna, które zastępowane zostały, albo tanimi, źle wykonanymi kopiami, lub co gorsza „plastikami”. Minął rok i niestety stolarka, którą wcześniej podziwiałem gdzieniegdzie zniknęła.
    		</p>
    		<p>
					Poprzez zrealizowanie dokumentacji, oraz jej udostępnianie chcemy zbudować swoistego rodzaju archiwum, miejsce gdzie będzie można podziwiać wygląd jeszcze autentycznych zabytków, prowadzić dzięki temu pracę naukową, gdyż możliwe, że za 10 lat zabraknie prawdziwej substancji zabytkowej. Ale ostateczny cel jest wyższy. To wszystko ma na celu rozwój świadomości na temat dziedzictwa, autentyzmu a co za tym idzie budowanie inteligentnego, świadomego swojej historii, także materialnej społeczeństwa.
    		</p>
    	</div>
    </div>
     <div class="panel panel-info">
    	<div class="panel-heading">
    		Dlaczego taki projekt w mieście Przemyśl?
    	</div>
    	<div class="panel-body">
    		<p>
	    		Ze względu na wartościową i zachowaną substancję zabytkową, której grozi unicestwienie. Przemyśl, jako miasto ma ogromną tradycję, wiele zabytków, jest miejscem gdzie tak naprawdę zaczynała się dawniej wschodnio- południowa część Polski, która teraz nie jest w granicach administracyjnych naszego kraju. Na przełomie XIX i XX wieku, a także w dwudziestoleciu międzywojennym miasto rozwijało się bardzo prężnie, powstawało wiele nowych kamienic, działali znani artyści i zachowaną jeszcze pulę zabytków, którą niewątpliwie stanowi między innymi stolarka trzeba najpierw dojrzeć, docenić oraz chronić.
    		</p>
    	</div>
    </div>
    <div class="row">
    	<div class="col-md-7">
		    <iframe width="560" height="315" src="https://www.youtube.com/embed/vgH9UWsAbHw" frameborder="0" allowfullscreen></iframe>
	    </div>
	    <div class="col-md-5">
	    	Wesprzyj nas
	    	<%= link_to(image_tag("http://www.graffus.com/uploads/2013/03/pl_wspieramkulture.jpg"), "http://wspieramkulture.pl/projekt/1072-Drzwi-Przemysla") %>
	    </div>
    </div>
  </h4>
