
<h2>Bibliografia</h2>
<div class="panel panel-info">
    <div class="panel-heading">
        Stolarka
    </div>
    <div class="panel-body">
        J. Tajchman,Drewniane drzwi zabytkowe na terenie Polski : systematyka i problematyka konserwatorska Ochrona Zabytków 44/4 (175), 269-277, 1991<br/><br/>
        Z. Mączeński, Elementy i detale architektoniczne w rozwoju historycznym, Warszawa 1956, s. 459-475. A    <br/><br/>
        J. Krawczyk, Charakterystyczne cechy zabytkowej stolarki drzwiowej i jej problematyka konserwatorska, [w:] Architectura et historia, red. M. Woźniak, Toruń 1999. <br/><br/>
        Zabytkowe budowle drewniane i stolarka architektoniczna wobec współczesnych zagrożeń  pod red E. Okoń Toruń 2005<br/><br/>
        Zabytkowa stolarka we wnętrzach sakralnych i jej problematyka konserwatorska  pod red J. Krawczyk, Toruń 2010<br/><br/> 
        Tajchman J., 1990: Stolarka drewniana w Polsce - rozwój i problematyka konserwatorska. Warszawa. 7. Tajchman J., 1993: Stolarka okienna - Słownik terminologiczny architektury. Warszawa<br/><br/>
        Tajchman J., Chrońmy dawne okna : (nowe nie tylko niszczą kompozycję elewacji, ale przede wszystkim nasze zdrowie,
        Spotkania z Zabytkami. 0137-222X. [R.] 34, nr 11/12 (2010), dod. s. 16-30<br/><br/>
        Problematyka związana z wymianą stolarki okiennej w budynkach zabytkowych / Barbara Bielinis-Kopeć.
        Lubuskie Materiały Konserwatorskie. T. 1 (2003), s. 69-81
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        Przemyśl
    </div>
    <div class="panel-body">
        Przemyśl / Tadeusz Budziński ;  Rzeszów 1990<br/><br/>
        Przemyśl 50 lat temu i dziś : album fotograficzny / Jan Samek Przemyśl 2003 <br/><br/>
        Przemyśl na starych fotografiach z lat 1907-1986 / [oprac.] Przemysław Chorążykiewicz2011. Przemyśl <br/><br/>
        Monografia miasta Przemyśla Hauser, Leopold Franciszek Przemyśl  1991 et al.].<br/><br/>
        Przemyśl Tysiąc lat Przemyśla, praca zbiorowa, Warszawa- Kraków 1974<br/><br/>
        A. Kunysz, Przemyśl Miasto Zabytków i Kultury, Kraków 1968  8. A. Kunysz, Przemyśl w pradziejach i wczesnym średniowieczu, Przemyśl 1981    9. I. Zając, Rozwój rozbudowy przemyskich przedmieść [w:] Rocznik historyczno archiwalny Tom    X: 1995, s. 93-125  10. J.T. Frazik, Sztuka Przemyśla i Ziemi Przemyskiej, Przemyśl 2004    
        red. Zdzisław Konieczny<br/><br/>
        J. Różański, Przemyśl i Okolice, Przewodnik, Warszawa 1977  13. L. Fac, Szkice z dziejów Przemyśla i ziemi przemyskiej, Przemyśl 2012   14. L. Hauser, Monografia Miasta Przemyśla, Przemyśl 1991   15. M. Dalecki, Rozbudowa urządzeń komunalnych Przemyśla w latach 1867-1914 [w:] Rocznik    historyczno archiwalny Tom VI: 1989, s. 49-63   16. M. Orłowicz, Przewodnik po Przemyślu i okolicy, Lwów 1917   
        18. M. Schorr,. Żydzi w Przemyślu do końca XVIII wieku, Lwow 1903   19. W. Kramarz, Ludność Przemyśla w latach 1521-1921, Przemyśl 1930 20. S. Krakowski, Reminiscencje z dawnego Przemyśla - wędrówka po planie miasta z lat   dwudziestych, 1996 Przemyśl<br/><br/>
    </div>
</div>