
  <h2>Drzwi Przemyśla</h2>
  <div class="panel panel-info">
  	<div class="panel-heading">
  		<h4>Pomoc</h4>
  	</div>
  	<div class="panel-body">
				Aby przeglądać dostępne drzwi należy na stronie głównej kliknąć w widoczne na środku <i>drzwi</i>.
				<br/><br/>
		  	Wszystkie drzwi są widoczne na mapie, oraz poniżej niej.
		  	<br/>
		  	Kliknięcie znacznika na mapie pokaże okienko informacyjne z podglądem drzwi. Kliknij <u>zobacz więcej</u> aby zapoznać się ze szczegółami danego egzemplarza.
		  	<br/>
		  	Wybór konkretnych drzwi spośród listy również poprowadzi do szczegółowych informacji,
  	</div>
  </div>
  