
  <h2>Drzwi Przemyśla</h2
    <div class="panel panel-info">
    	<div class="panel-heading">
    		<b>O projekcie</b>
    	</div>
    	<div class="panel-body">
    		
	    		Projekt rozpoczął się jesienią 2015 roku. Polega on na stworzeniu katalogu zabytkowej stolarki drzwiowej, w miarę możliwości okiennej miasta Przemyśl, oraz opisania ich.  Idea powstała z powodu zanikania, dawniej dużego, oraz wartościowego zasobu takich zabytków. Współczesne trendy, polityka konserwatorska, brak edukacji dotyczącej wartości zabytków doprowadziła do zastąpienia obiektów, jeśli pozwalały na to pieniądze, na pseudokopie, lub pseudorekonstrukcję, a im mniej było funduszy, tym gorsze materiały i gorsza jakość zastępującej stolarki. W przeciągu 4 lat, zauważam dużą różnicę w zachowaniu zasobu. Jest go mniej, a ten, który jest szybko pogarsza swój stan. Z tego powodu postanowiłem stworzyć swoistego rodzaju archiwum, które zachowałoby, chociaż w formie fotograficznej istniejące, póki, co drzwi i okna zabytkowe. Chciałbym zaznaczyć, że największy postęp, a raczej zacofanie znalazło wyraz w stolarce okiennej. Jeszcze niedawno w wielu budynkach, kamienicach, zastać można było autentyczną substancję. Dziś niestety rządzą plastikowe okna, tak bardzo promowane m.in. ze względu lepszych parametrów cieplnych. Jest to wielki błąd, gdyż taka „oszczędność” jest szkodliwa ze względu na bardzo złe parametry przepuszczania, tj. zużywane powietrze przez domowników nie ucieka nigdzie i powoduje duszenie się, a poza tym PCV, czyli materiał, z którego wykonane są nowe okna staje się trujący już po kilku latach użytkowania, powoduje m.in. raka, co potwierdzają badania naukowe. 
    		<br/>
            <br/>
				Zachowanie oryginalnej stolarki powinno być konieczne ze względu, iż pełni ona bardzo ważną rolę w architekturze. Mimo, iż często może się tego nie zauważa jest to pierwszy element, z którym wchodząc do obiektu nawiązujemy relację, choćby przez dotyk. W dzisiejszych czasach brak ludziom takiej potrzeby estetycznej, która narzucałaby kształtowanie wspaniałej, dekoracyjnej stolarki, lecz powodem krytycznym jest brak specjalistów(co może wynikło z braku zleceń), którzy potrafiliby wykonać kopię, lub chociaż coś zbliżonego do dawnej stolarki, z zastosowaniem dawnych technik stolarskich.
    		<br/>
            <br/>
            
                Co więcej niestety o takich rzeczach, jak zabytki, jeśli już się mówi, to na pewno bez wskazywania ich wartości i funkcji, a przecież, w dzisiejszym tak pragmatycznym świecie jest to kluczowe. Nie wiadomym jest dla wielu rzeszy ludzi, co ze sobą niesie zabytek, a także, co to jest chociażby autentyczność, estetyczność, funkcjonalność w odniesieniu do wartości. O zgrozo, brak wiedzy czyni z nas głupców! Nie chcę wyrzucać tego nikomu, gdyż jest to wina jedynie edukacji. Wchodzimy do wielu obiektów, zachwycamy się wspaniałymi pałacami, naszą obecną stolicą, powalającą sakralną, architekturą drewnianą, które to tak naprawdę są kreacją czasów współczesnych powstałych w trakcie odbudowy, albo w trakcie prac renowatorskich, gdyż strach powiedzieć, konserwatorskich. Obiekty autentyczne stoją w ruinach, albo stanie złym, albo są po prostu niezauważalne, bo są brudne, zaniedbane, poniszczone jak np. drzwi. Przykłady na to stwierdzenie znaleźć można w wielu grupach obiektów, od drewnianych, pomniejszych cerkwi, przez właśnie stolarkę, do murowanych dawnych folwarków, młynów, a nawet pomniejszych pałaców.
            
    	</div>
    </div>
     <div class="panel panel-info">
    	<div class="panel-heading">
    		<b>Dlaczego Przemyśl?</b>
    	</div>
    	<div class="panel-body">
    		Miasto to rozwijało się prężnie na przełomie XIX i XX wieku. Było to trzecie największe miasto w Galicji, po Lwowie i Krakowie. W tamtych czasach budowały się przedmieścia, nowe kamienice, stare przechodziły modernizację. Architektura stała na wysoki poziomie, a co za tym idzie stolarka także. Duża wartościowość stolarki secesyjnej, jej typowość, a zarazem lokalna specyfika, a także do niedawna jeszcze duża ilość zachowanych poszczególnych przykładów zdecydowała o konieczności zabiegania o zachowanie, zbadanie zasobu.
    	</div>
    </div>
    <div align="right">Jan Pantuła, luty 2016</div>
