<h4>Aktualności</h4>
<div class="row">
	<div class="container">
	 
 	  <div class="panel panel-default">
	  	<div class="panel-heading">
	  		19 marca 2016
	  	</div>
	    <div class="panel-body">
	    	Wracamy po dłuższej przerwie. Wciąż działamy. Nadal dodajemy nowe wpisy. Już niedługo kolejne publikacje.
	    </div>
	  </div>

	  <div class="panel panel-default">
	  	<div class="panel-heading">
	  		3 marca 2016
	  	</div>
	    <div class="panel-body">
	    	Posiadamy szeroką bazę zdjęć. Obecnie pracujemy nad obróbką i opisaniem kolejnych zabytkowych drzwi. Sukcesywnie będziemy udostępniać dalsze dane. Kolejnej aktualizacji katalogu można spodziewać się w najbliższym tygodniu.
	    </div>
	  </div>

	  <div class="panel panel-default">
	  	<div class="panel-heading">
	  		15 lutego 2016
	  	</div>  
	    <div class="panel-body">
	    	Zachęcamy do zapoznania się z 40 numerem kwartalnika <i>Skarby Podkarpackie</i> w którym między innymi można zapoznać się z genezą naszego projektu. Artykuł znajduje się na stronie 16. Czaspismo można za darmo pobrać z poniższej strony:
	    	<br/>
	    	<b><%= link_to "Skarby Podkarpackie nr 40", "http://www.skarbypodkarpackie.pl/download/Z2Z4L3NrYXJieXBvZGthcnBhY2lhL3BsL3NwX2xpc3RhX2N6YXNvcGlzbS80MQ/skarby_podkarpackie_www.pdf" %></b>
	    </div>
	  </div>

	  <div class="panel panel-default">
	  	<div class="panel-heading">
	  		11 lutego 2016
	  	</div>
	    <div class="panel-body">
	    	Dziś udostępniamy piersze wpisy w katalogu. Znajdą tam Państwo wiele pozycji z ulicy Grunwaldzkiej, a także kilka z ulic św.&nbsp;Jana i Okrzei. <br/>
	    	Zapraszamy do zapoznania się z zawartością oraz kontaktu.
	    </div>
	  </div>

	  <div class="panel panel-default">
	  	<div class="panel-heading">
	  		2 lutego 2016
	  	</div>
	    <div class="panel-body">
		    Uruchomienie pierewszej wersji strony. Witryna będzie stopniowo rozwijana i usprawniana. Sukcesywnie pojawiać się będą kolejne materiały w naszym katologu drzwi. Zapraszamy do zgłaszania wszelkich uwag i sugestii. Wszelkie dane dostępowe znajdą państwo klikając poniżej.
		    <br/>
		    <b><%= link_to "Kontakt", site_about_path %></b>
	    </div>
	  </div>

	</div>
</div>