// Place all the styles related to the Doors controller here#
// They will automatically be included in application#css#
// You can use Sass (SCSS) here: http://sass-lang#com/

#form-edit, #cancel_edit_door{
  display:none;
}


.slider {
  margin: 10px 0;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.slider li {
  display: none;
  position: absolute; 
  top: 0; 
  left: 0; 
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

