<h1>Oto nasze drzwi</h1>

<iframe src="https://www.google.com/maps/d/embed?mid=zb8DVjirvEGg.kpdyf6j9LK5A" width=85% height="480"></iframe>

<% @door.each do |d| %>
	<div class="well well-sm">
	 	<h3><u><%= link_to d.title, door_path(d) %></u></h3>
 	</div>
 <% end %> 
