<h1>Oto nasze drzwi</h1>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#map" aria-controls="map" role="tab" data-toggle="tab">Mapa</a></li>
    <li role="presentation"><a href="#list" aria-controls="list" role="tab" data-toggle="tab">Lista</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="map">
    	<iframe src="https://www.google.com/maps/d/embed?mid=zb8DVjirvEGg.kpdyf6j9LK5A" width=100% height="480"></iframe>
    </div>
    <div role="tabpanel" class="tab-pane" id="list">
			<% @door.each do |d| %>
				<div class="well well-sm">
			 	<u><%= link_to d.title, door_path(d) %></u>
		 	</div>
		 <% end %> 
    </div>
  </div>

</div>




