<h2>Dodaj nowe drzwi</h2>
<% if current_user %>
	<p>Wypełnij formularz</p>
	<%= render 'form' %>
<% else %>
	Aby dodać nowe drzwi należy się zalogować! <%= link_to "Zaloguj", login_path %><br/>
<% end %>

